/*General styles*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


/* Header */

header{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 40px 100px;
    z-index: 900;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s ease;
}

header .sticky{
    background-color: rgb(255, 255, 255);
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

header .logo{
    color: rgb(133, 212, 164);
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 2px;
}
header .sticky .logo {
    color: #111;
}

header ul {
    position: relative;
    display: flex;
}

header ul li{
    position: relative;
    list-style: none;
}


header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 20px;
    color: rgb(47, 165, 57);
    text-decoration: none;
    font-weight: 600;

}
header ul li a:hover{
    color: rgb(78, 85, 104);
}

header .sticky ul li a {
    color:#111 ;
    margin-bottom: 20px;
}

/*Home section */

section{
    padding: 150px; 
      
}
.first-ban{
    position: relative;
    min-height: 100vh;
    background: url(https://images.pexels.com/photos/230659/pexels-photo-230659.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-position: right;
    display: flex;
    align-items:center;
    justify-content: start;
    }
.first-ban h2{
    font-size: 2em;
    color: rgb(170, 60, 60);
    font-weight: 400;
    line-height: 1.8em;   

}

.first-ban h2 span {
    font-size: 2em;
    font-weight: 700;
    font-family: 'Potta One', cursive;

}

.first-ban h3 {
    font-size: 3em;
    color: rgb(103, 212, 14);
    font-weight: 700;
    line-height: 1.8em;
    font-family: fantasy;
}

.btn{
    position: relative;
    background-color: #27998a;
    display: inline-block;
    color: thistle;
    font-size: 20px;
    margin-top: 20px;
    padding: 12px 32px;
    margin-left:  px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing:2.5px ;
}
.btn:hover{
    background-color: #0b4da5;
}


/*About section*/

.about{
    background-color: rgb(53, 48, 48);
}

.head{
    width: 100%;    
    text-align: center;
    margin-bottom: 30px;
    color: rgb(186, 190, 226);
    font-weight: 700;

}


head h2{
    font-weight: 600;
    font-size: 30px; 
    font-family: 'Aguafina Script', cursive;
}

.text {
    display: flex;
    justify-content: space-between;
}
.text-content{
   padding-right: 30px;
   color: rgb(209, 218, 243);
}
.text-content h3{
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(30, 212, 60);
    font-weight: 500;

}
.text-content p {
    font-size: 20px;
}

.text-second{
    min-width: 50%;
}
img{
    max-width: 100%;
}

/*Service section */

.services{
    background:#111;
}
.head .white {
   color:#fff; 
}

.services .text-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services .text-content .servicesBox{
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s ease;
}
.services .text-content .servicesBox:hover{
    background:#2196f3 ;

}

.services .text-content .servicesBox img{
    max-width: 80px;
    filter: invert(1);
}
.services .text-content .servicesBox h2{
    font-size: 20px;
    font-weight: 600;
}

.services .text-content .servicesBox p {
    font-size: 16px;
    margin: 5px;
}

/* Work section */

.work{
    background-color:rgb(53, 48, 48) ;
}


/*DOM elements */
.parent-div{
    display: flex;
    justify-content: center;    
    flex-wrap: wrap;
}

.parent-div .parent-img {   
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 1000px;
    margin: 20px;
    text-align: center;
    transition: 0.5s ease;
}

.parent-div .parent-img img{
   border-radius: 5px;
   
}

.project-title{
    text-transform: uppercase;
    font-family: 'Potta One', cursive;
    color: #27998a;
}
